In [3]:
import pandas as pd

In [4]:
groceries = pd.Series( data= [30, 6, 'Yes', 'No'], index=['eggs','apples','milk','bread'])
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [5]:
print(groceries.shape)
print(groceries.ndim)
print(groceries.size)

(4,)
1
4

In [6]:
groceries.index

Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [7]:
'bananas' in groceries

False

In [8]:
groceries[['milk','bread']]

milk     Yes
bread     No
dtype: object

In [9]:
groceries.loc[['eggs']]

eggs    30
dtype: object

In [10]:
groceries.iloc[[2,3]]

milk     Yes
bread     No
dtype: object

In [11]:
groceries.drop('apples')

eggs      30
milk     Yes
bread     No
dtype: object

In [12]:
groceries.drop('bread', inplace=True)
groceries

eggs       30
apples      6
milk      Yes
dtype: object

In [13]:
fruits = pd.Series(data=[10,6,3], index=['apples','oranges','bananas'])
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [14]:
fruits*2

apples     20
oranges    12
bananas     6
dtype: int64

In [15]:
fruits+2

apples     12
oranges     8
bananas     5
dtype: int64

In [16]:
import numpy as np

In [17]:
np.power(fruits,2)

apples     100
oranges     36
bananas      9
dtype: int64

In [18]:
items = {'Bob':pd.Series(data =[245,25,55],index=['bike','pants','watch']),
         'Alice':pd.Series(data=[40,100,500,45], index=['book','glasses','bike','pants'])}
type(items)

dict

In [19]:
shopping_carts = pd.DataFrame(items)
shopping_carts

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  100.0
pants     25.0   45.0
watch     55.0    NaN

In [22]:
shopping_carts.index

Index(['Bob', 'Alice'], dtype='object')

In [24]:
shopping_carts.columns

Index(['Bob', 'Alice'], dtype='object')

In [25]:
shopping_carts.values

array([[245., 500.],
       [ nan,  40.],
       [ nan, 100.],
       [ 25.,  45.],
       [ 55.,  nan]])

In [27]:
shop_bob = pd.DataFrame(items, columns=['Bob'])
shop_bob

       Bob
bike   245
pants   25
watch   55

In [29]:
items = []